.wrapPagePay {
  width: 100%;
  max-width: 600px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(231, 239, 255);
  border-radius: 2rem;
}

.title {
  margin-top: 250px;
}